// colors

$light_green:rgb(0, 255, 179);
$light_green_op_3:rgba(0, 255, 179, .3);
$light_green_op_5:rgba(0, 255, 179, .5);
$light_green_op_8:rgba(0, 255, 179, .8);

$grey:rgb(128, 128, 128);
$dark_grey:rgb(17, 17, 17);
$light_grey:rgb(170, 170, 170);
$dark_grey_op_15:rgba(66, 66, 66, 0.5);

$black: rgb(0, 0, 0);

$white:rgb(255, 255, 255);
$white_op_9:rgba(255, 255, 255, .9);
$white_op_5:rgba(255, 255, 255, .5);

// nav

$navHeight: 6rem;
$progressBarHeight:.4rem;